@tailwind base;
@tailwind components;
@tailwind utilities;

.sideNavMenu {
	@apply flex items-center py-2.5 px-4 rounded transition delay-300 ease-in-out hover:bg-black-0.3 hover:text-white-1 dark:hover:bg-red-800;
}
