body {
	&::-webkit-scrollbar-track {
		background: #ddd;
	}
	&::-webkit-scrollbar-thumb {
		background: rgb(185, 28, 28);
		border-radius: 10px;
	}
	&::-webkit-scrollbar {
		width: 5px;
	}
}
#loading {
	background: linear-gradient(80deg, #291414, #4b0602);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;

	.preloader-cont {
		text-align: center;
		pointer-events: none;
		background: url(/img/1.jpg);
		background-size: cover;
		background-position: center;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		animation: animation1 1s infinite;
		h1 {
			font-size: 6em;
			font-weight: bold;
		}
	}

	p {
		font-weight: bold;
		color: darkgray;
		letter-spacing: 4px;
	}

	.preloader-1 {
		.line {
			width: 1px;
			height: 12px;
			background: #fff;
			margin: 0 1px;
			display: inline-block;
			animation: opacity-1 1000ms infinite ease-in-out;
		}
		.line-1 {
			animation-delay: 800ms;
		}
		.line-2 {
			animation-delay: 600ms;
		}
		.line-3 {
			animation-delay: 400ms;
		}
		.line-4 {
			animation-delay: 200ms;
		}
		.line-6 {
			animation-delay: 200ms;
		}
		.line-7 {
			animation-delay: 400ms;
		}
		.line-8 {
			animation-delay: 600ms;
		}
		.line-9 {
			animation-delay: 800ms;
		}
	}
}

@keyframes opacity-1 {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animation1 {
	0% {
		background: url(/img/1.jpg);
	}
	10% {
		background: url(/img/2.jpg);
	}
	20% {
		background: url(/img/3.jpg);
	}
	30% {
		background: url(/img/ahi.png);
	}
	40% {
		background: url(/img/banner1.jpg);
	}
	50% {
		background: url(/img/codeS.jpg);
	}
	60% {
		background: url(/img/Coming+Soon+-+Thumbnail.jpg);
	}
	70% {
		background: url(/img/nourhamse.jpg);
	}
	80% {
		background: url(/img/ot.jpg);
	}
	90% {
		background: url(/img/page_icon.png);
	}
	100% {
		background: url(/img/MyPic.jpg);
	}
}

.banner {
	background: url(/img/4005523.svg);
	background-size: cover;
	background-position: center;
}
